In [6]:
import numpy as np
import pandas as pd

In [24]:

def formatRandId(
        id, 
        numericPrefix = 0, 
        numberOfDigitis = 4,
        prefix = "",
        suffix = ""
):
    return prefix + str(int(np.round((id + numericPrefix) * (10 ** (numberOfDigitis - 1))))) + suffix

In [20]:
class Sale:
    def __init__(
            self,
            date,
            clientId,
            clientName,
            clientType,
            productId,
            productName,
            productCategory,
            productPrice,
            saleType,
            saleAmount,
            saleDiscount,
    ):
        self.date = date
        self.clientId = clientId
        self.clientName = clientName
        self.clientType = clientType
        self.productId = productId
        self.productName = productName
        self.productCategory = productCategory
        self.productPrice = productPrice
        self.saleType = saleType
        self.saleAmount = saleAmount
        self.saleDiscount = saleDiscount

    def to_dict(self):
        return {
            "date": self.date,
            "clientId": self.clientId,
            "clientName": self.clientName,
            "clientType": self.clientType,
            "productId": self.productId,
            "productName": self.productName,
            "productCategory": self.productCategory,
            "productPrice": self.productPrice,
            "saleType": self.saleType,
            "saleAmount": self.saleAmount,
            "saleDiscount": self.saleDiscount,
        }

In [13]:
def ub(x):

    x_len = x.shape[0]

    ub_all = np.zeros(x_len)
    ub_curr = 0

    for i in np.arange(x_len):
        ub_curr += float(x[i][1])
        ub_all[i] = ub_curr

    return ub_all

In [4]:
def to_dscrt(x, v):
    b = ub(v)

    for i in np.arange(len(b)):
        if x < b[i]:
            return v[i][0]

def get_to_dscrt(v):

    def f(x):
        return to_dscrt(x, v)

    return f

In [22]:
sales = []

for i in np.arange(100):
    sales.append(Sale(
        date = "2024-01-01",
        clientId = "123000",
        clientName = "John Doe",
        clientType = "Premium",
        productId = "12345",
        productName = "Widget Deluxe",
        productCategory = "Gadgets",
        productPrice = "$199.99",
        saleType = "Individuals",
        saleAmount = "50 units",
        saleDiscount = "10%",

    ))

df_sales = pd.DataFrame([x.to_dict() for x in sales])
df_sales

,date,clientId,clientName,clientType,productId,productName,productCategory,productPrice,saleType,saleAmount,saleDiscount
0,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
1,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
2,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
3,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
4,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
...,...,...,...,...,...,...,...,...,...,...,...
95,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
96,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
97,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
98,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%
99,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,Individuals,50 units,10%

In [18]:
numOfSales = 10000
bins = 10

sales_types_frq_tbl = np.array([
    ["Online sales", .44],
    ["Direct sales", .18],
    ["Partner sales", .19],
    ["Referral sales", .09],
    ["Subscription sales", .1],
])

client_types_frq_tbl = np.array([
    ["Individuals", .46],
    ["Businesses", .21],
    ["Non-profit", .05],
    ["Mixed", .28],
])

to_dscrt_sales_types = np.frompyfunc(get_to_dscrt(sales_types_frq_tbl), 1, 1)
to_dscrt_client_types = np.frompyfunc(get_to_dscrt(client_types_frq_tbl), 1, 1)

rg = np.random.default_rng()

In [25]:
numOfSales = 1000
transactionId = np.random.uniform(0, 1, numOfSales)
productId = np.random.normal(.5, .05, numOfSales)
clientId = np.random.uniform(0, 1, numOfSales)
listedPrice = np.random.normal(14000, 4000, numOfSales)
saleAmount = np.random.normal(13500, 5000, numOfSales)
sales_types = to_dscrt_sales_types(rg.random((numOfSales)))
client_types = to_dscrt_client_types(rg.random((numOfSales)))

sales = []

for i in np.arange(numOfSales):
    sales.append(Sale(
        date = "2024-01-01",
        clientId = formatRandId(clientId[i], 0, 4), #, "AP"),
        clientName = "John Doe",
        clientType = client_types[i],
        productId = formatRandId(productId[i], 0, 4),
        productName = "Widget Deluxe",
        productCategory = "Gadgets",
        productPrice = listedPrice[i],
        saleType= sales_types[i],
        saleAmount = saleAmount[i],
        saleDiscount = "10%",

    ))

df_sales = pd.DataFrame([x.to_dict() for x in sales])

df_sales.to_csv("sales-data-sales.csv")

df_sales

,date,clientId,clientName,clientType,productId,productName,productCategory,productPrice,saleType,saleAmount,saleDiscount
0,2024-01-01,469,John Doe,Non-profit,512,Widget Deluxe,Gadgets,18485.965609,Online sales,17885.122587,10%
1,2024-01-01,251,John Doe,Businesses,550,Widget Deluxe,Gadgets,11246.556060,Direct sales,19125.755121,10%
2,2024-01-01,857,John Doe,Individuals,495,Widget Deluxe,Gadgets,13108.124367,Direct sales,19978.358970,10%
3,2024-01-01,791,John Doe,Mixed,544,Widget Deluxe,Gadgets,16309.442173,Online sales,10930.839375,10%
4,2024-01-01,390,John Doe,Businesses,578,Widget Deluxe,Gadgets,18465.857969,Partner sales,17840.364412,10%
...,...,...,...,...,...,...,...,...,...,...,...
995,2024-01-01,958,John Doe,Individuals,492,Widget Deluxe,Gadgets,15970.949467,Partner sales,14208.493203,10%
996,2024-01-01,145,John Doe,Individuals,517,Widget Deluxe,Gadgets,14420.081923,Online sales,16672.818320,10%
997,2024-01-01,688,John Doe,Non-profit,526,Widget Deluxe,Gadgets,17568.847121,Online sales,12198.841454,10%
998,2024-01-01,728,John Doe,Individuals,558,Widget Deluxe,Gadgets,12404.204389,Online sales,23201.523928,10%
999,2024-01-01,181,John Doe,Mixed,504,Widget Deluxe,Gadgets,18597.487531,Partner sales,12312.599199,10%

In [26]:
df_sales.describe(include="all")

,date,clientId,clientName,clientType,productId,productName,productCategory,productPrice,saleType,saleAmount,saleDiscount
count,1000,1000,1000,1000,1000,1000,1000,1000.000000,1000,1000.000000,1000
unique,1,624,1,4,224,1,1,NaN,5,NaN,1
top,2024-01-01,89,John Doe,Individuals,495,Widget Deluxe,Gadgets,NaN,Online sales,NaN,10%
freq,1000,7,1000,450,15,1000,1000,NaN,430,NaN,1000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14032.031678,NaN,13482.820296,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4055.612146,NaN,5025.350773,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,562.899102,NaN,-3045.317643,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11285.683885,NaN,10036.042941,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14068.190929,NaN,13378.415220,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16538.843711,NaN,16917.389279,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28665.667873,NaN,28948.156377,NaN

In [110]:
df_sales["clientId"]

0      844
1      402
2      327
3      171
4      872
      ...
995    500
996     72
997    792
998    800
999    255
Name: clientId, Length: 1000, dtype: object