In [84]:
import numpy as np
import pandas as pd

In [85]:

def formatRandId(
        id, 
        numericPrefix = 0, 
        numberOfDigitis = 4,
        prefix = "",
        suffix = ""
):
    return prefix + str(int(np.round((id + numericPrefix) * (10 ** (numberOfDigitis - 1))))) + suffix

In [86]:
class Sale:
    def __init__(
            self,
            date,
            clientId,
            clientName,
            clientType,
            productId,
            productName,
            productCategory,
            productPrice,
            saleAmount,
            saleDiscount,
    ):
        self.date = date
        self.clientId = clientId
        self.clientName = clientName
        self.clientType = clientType
        self.productId = productId
        self.productName = productName
        self.productCategory = productCategory
        self.productPrice = productPrice
        self.saleAmount = saleAmount
        self.saleDiscount = saleDiscount

    def to_dict(self):
        return {
            "date": self.date,
            "clientId": self.clientId,
            "clientName": self.clientName,
            "clientType": self.clientType,
            "productId": self.productId,
            "productName": self.productName,
            "productCategory": self.productCategory,
            "productPrice": self.productPrice,
            "saleAmount": self.saleAmount,
            "saleDiscount": self.saleDiscount,
        }

In [88]:
sales = []

for i in np.arange(100):
    sales.append(Sale(
        date = "2024-01-01",
        clientId = "123000",
        clientName = "John Doe",
        clientType = "Premium",
        productId = "12345",
        productName = "Widget Deluxe",
        productCategory = "Gadgets",
        productPrice = "$199.99",
        saleAmount = "50 units",
        saleDiscount = "10%",

    ))

df_sales = pd.DataFrame([x.to_dict() for x in sales])
df_sales

,date,clientId,clientName,clientType,productId,productName,productCategory,productPrice,saleAmount,saleDiscount
0,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
1,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
2,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
3,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
4,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
...,...,...,...,...,...,...,...,...,...,...
95,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
96,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
97,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
98,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
99,2024-01-01,123000,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%

In [93]:
numOfSales = 1000
transactionId = np.random.uniform(0, 1, numOfSales)
productId = np.random.normal(.5, .15, numOfSales)
clientId = np.random.uniform(0, 1, numOfSales)
listedPrice = np.random.normal(14000, 4000, numOfSales)
saleAmount = np.random.normal(13500, 5000, numOfSales)

sales = []

for i in np.arange(numOfSales):
    sales.append(Sale(
        date = "2024-01-01",
        clientId = formatRandId(clientId[i], 0, 6), #, "AP"),
        clientName = "John Doe",
        clientType = "Premium",
        productId = formatRandId(productId[i], 0, 5),
        productName = "Widget Deluxe",
        productCategory = "Gadgets",
        productPrice = listedPrice[i],
        saleAmount = saleAmount[i],
        saleDiscount = "10%",

    ))

df_sales = pd.DataFrame([x.to_dict() for x in sales])

df_sales.to_csv("sales-data-sales.csv")

df_sales

,date,clientId,clientName,clientType,productId,productName,productCategory,productPrice,saleAmount,saleDiscount
0,2024-01-01,64197,John Doe,Premium,3370,Widget Deluxe,Gadgets,13262.125150,14085.604597,10%
1,2024-01-01,19908,John Doe,Premium,5519,Widget Deluxe,Gadgets,8980.587932,11385.563558,10%
2,2024-01-01,31258,John Doe,Premium,5649,Widget Deluxe,Gadgets,18276.116530,9111.906681,10%
3,2024-01-01,54491,John Doe,Premium,4003,Widget Deluxe,Gadgets,12346.082074,16867.114716,10%
4,2024-01-01,92167,John Doe,Premium,4535,Widget Deluxe,Gadgets,14256.513329,18516.289076,10%
...,...,...,...,...,...,...,...,...,...,...
995,2024-01-01,57162,John Doe,Premium,1695,Widget Deluxe,Gadgets,13739.993511,13451.539625,10%
996,2024-01-01,60364,John Doe,Premium,5154,Widget Deluxe,Gadgets,13537.934733,18183.403511,10%
997,2024-01-01,63331,John Doe,Premium,6945,Widget Deluxe,Gadgets,10673.978690,22130.525463,10%
998,2024-01-01,5386,John Doe,Premium,4952,Widget Deluxe,Gadgets,5202.395664,8852.643824,10%
999,2024-01-01,69789,John Doe,Premium,4599,Widget Deluxe,Gadgets,16664.295163,11233.825077,10%

In [96]:
df_sales.describe(include="all")

,date,clientId,clientName,clientType,productId,productName,productCategory,productPrice,saleAmount,saleDiscount
count,1000,1000,1000,1000,1000,1000,1000,1000.000000,1000.000000,1000
unique,1,993,1,1,928,1,1,NaN,NaN,1
top,2024-01-01,56501,John Doe,Premium,6173,Widget Deluxe,Gadgets,NaN,NaN,10%
freq,1000,2,1000,1000,4,1000,1000,NaN,NaN,1000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14236.029482,13421.458330,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3943.203057,4855.564625,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3042.896744,-2340.182866,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11558.291276,10135.242288,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14229.551568,13569.184924,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16872.009075,16673.791479,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28046.377071,30441.591057,NaN